@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Main colors */
  --color-orange-theme: oklch(75% 0.183 55.934);
  --color-dark-orange: oklch(60% 0.23 83.636);

  /* Font family */
  --font-jost: 'Jost', sans-serif;
  --font-cinzel: 'Cinzel', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-dark-orange: oklch(60% 0.23 83.636);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240, 20%, 98%;
    --foreground: 240 10% 20%;
    --primary: 200 100% 50%;
  }

  .dark {
    --background: 240 10% 10%;
    --foreground: 240 30% 90%;
    --primary: 200 100% 50%;
  }

  .neon {
    --background: 300 80% 10%;
    --foreground: 60 100% 90%;
    --primary: 50 100% 50%;
  }
}

@layer base {
  body {
    background: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

@theme {
  --color-orange: oklch(74% 0.23 83.636);
  --color-light-orange: oklch(85% 0.23 83.636);
  --color-dark-orange: oklch(60% 0.23 83.636);
}
/* oklch(98% 0.016 73.684) */